<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
</style>

<div class="modal-header">
    <h3 class="modal-title">add new location</h3>
</div>
<div class="modal-body">
    <form ng-submit="vm.submitAddForm(addLocationForm.$valid)" id="addLocationForm" name="addLocationForm" novalidate>
        <div class="row mb-small">
            <div class="col-md-12">
                <div class="form-group" ng-class="{ 'has-error': vm.formSubmitted && addLocationForm.streetAddress.$invalid || addLocationForm.streetAddress.$touched && addLocationForm.streetAddress.$invalid }">
                    <label for="streetAddress">street address</label>
                    <input type="text" class="form-control" ng-model="vm.addLocationForm.streetAddress" ng-minlength="2" ng-maxlength="75" required
                        name="streetAddress" title="Please enter a street address" />
                    <div class="help-block" ng-messages="addLocationForm.streetAddress.$error" ng-if="addLocationForm.streetAddress.$touched || vm.formSubmitted">
                        <div ng-messages-include="/error-messages.html"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-small">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': vm.formSubmitted && addLocationForm.city.$invalid || addLocationForm.city.$touched && addLocationForm.city.$invalid }">
                    <label for="city">city</label>
                    <input type="text" class="form-control" ng-model="vm.addLocationForm.city" ng-minlength="2" ng-maxlength="40" required name="city"
                        title="Please enter a city" />
                    <div class="help-block" ng-messages="addLocationForm.city.$error" ng-if="addLocationForm.city.$touched || vm.formSubmitted">
                        <div ng-messages-include="/error-messages.html"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-small">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': vm.formSubmitted && addLocationForm.state.$invalid || addLocationForm.state.$touched && addLocationForm.state.$invalid }">
                    <label for="state">state</label>
                    <select ng-model="vm.addLocationForm.state" name="state" class="form-control" ng-required="true">
                        <option value="" disabled selected="true">choose...</option>
                        <option ng-repeat="state in vm.stateOptions"    >{{state}}</option>
                    </select>
                    <div class="help-block" ng-messages="addLocationForm.state.$error" ng-if="addLocationForm.state.$touched || vm.formSubmitted">
                        <div ng-messages-include="/error-messages.html"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group" ng-class="{ 'has-error': vm.formSubmitted && addLocationForm.zipCode.$invalid || addLocationForm.zipCode.$touched && addLocationForm.zipCode.$invalid }">
                    <label for="zipCode">zip code</label>
                    <input type="number" class="form-control" ng-model="vm.addLocationForm.zipCode" ng-minlength="5" ng-maxlength="5" required
                        name="zipCode" title="Please enter a zip code" />
                    <div class="help-block" ng-messages="addLocationForm.zipCode.$error" ng-if="addLocationForm.zipCode.$touched || vm.formSubmitted">
                        <div ng-messages-include="/error-messages.html"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" ng-disabled="vm.loading">
                <span ng-show="!vm.loading">Submit</span>
                <span ng-show="vm.loading">Please wait...</span>
            </button>
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
        </div>
    </form>
</div>