<div class="container">
    <h2 class="section-title double-title">
        <span>manage</span>
        locations
    </h2>

    <div class="row mb-small">
        <div class="col-md-12">
            <a ng-click="vm.openAddModal()" class="btn btn-toranj pull-right">Add New Location...</a>
        </div>
    </div>
    
    <div class="row mb-medium" ng-show="vm.locations.length == 0">
        <div class="col-md-4 col-md-offset-4">
             <div class="icon-box ib-center ib-boxed">
                <div class="contents">
                    <p>No locations yet.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mb-medium" ng-show="vm.locations.length > 0">
        <div class="col-md-4" ng-repeat="businessDay in vm.businessDays">
            <div class="icon-box ib-center ib-boxed">
                <h4 class="title">{{ businessDay.dayOfWeek }}</h4>
                <div class="contents">
                    <p class="business-hours">{{ businessDay.openingTime | amPmTime }} - {{ businessDay.closingTime | amPmTime }}<br>{{ businessDay.location.name
                        }}</p>
                </div>
            </div>
        </div>
    </div>


    <!--<div class="row mb-medium">
        <div class="col-md-4">
            <div class="icon-box ib-center ib-boxed">
                <h4 class="title">Sunday</h4>
                <div class="contents">
                    <p class="business-hours">10:00AM - 6:00PM</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icon-box ib-center ib-boxed">
                <h4 class="title">Monday</h4>
                <div class="contents">
                    <p class="business-hours">10:00AM - 6:00PM</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icon-box ib-center ib-boxed">
                <h4 class="title">Tuesday</h4>
                <div class="contents">
                    <p class="business-hours">10:00AM - 6:00PM</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-medium">
        <div class="col-md-4">
            <div class="icon-box ib-center ib-boxed">
                <h4 class="title">Wednesday</h4>
                <div class="contents">
                    <p class="business-hours">10:00AM - 6:00PM</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icon-box ib-center ib-boxed">
                <h4 class="title">Thursday</h4>
                <div class="contents">
                    <p class="business-hours">10:00AM - 6:00PM</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="icon-box ib-center ib-boxed">
                <h4 class="title">Friday</h4>
                <div class="contents">
                    <p class="business-hours">10:00AM - 6:00PM</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="icon-box ib-center ib-boxed">
                <h4 class="title">Saturday</h4>
                <div class="contents">
                    <p class="business-hours">10:00AM - 6:00PM</p>
                </div>
            </div>
        </div>
    </div>-->
</div>