<div ng-controller="Shell as vm">
	<section id="content">
	 <a href="#" id="menu-toggle-wrapper" class="">
        <div id="menu-toggle"></div>
    </a>
    <!-- inner bar wrapper -->
    <a href="#" id="inner-bar">
        <!-- Small logo -->
        <div class="logo-alt">
            <img src="images/sugarMamaBanner.png" alt="logo-mini">
        </div>
        <!-- /Small logo -->
    </a>
		<div ng-include="'app/layout/sidebar.html'"></div>
		<div id="main-content">
			<div class="page-wrapper regular-page">
					<ui-view id="view" ng-class="fade-in"></ui-view>
			</div>
		</div>
	
	</section>
</div>