<div id="side-bar" sidebar ng-controller="Sidebar as vm">
	<div class="inner-wrapper">
		<div id="side-inner">
			<div class="row">
				<div id="logo-wrapper">
					<a href="/"><img src="images/logo.png" alt="SugarMaMa"></a>
				</div>
			</div>
			<div class="row">
				<div id="side-contents">
					<ul ng-if="vm.isAuthenticated()" id="navigation" class="list-hover">
						<li ng-class="vm.isCurrent(r)" ng-repeat="r in vm.authRoutes">
							<a nav-link ng-if="!r.data.authorizedRoles || vm.isAuthorized(r.data.authorizedRoles)" ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a>
						</li>
					</ul>
					<ul ng-if="!vm.isAuthenticated()" id="navigation" class="list-hover">
						<li ng-class="vm.isCurrent(r)" ng-repeat="r in vm.navRoutes">
							<a nav-link ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<ul class="social-icons">
					<li><a href="https://www.facebook.com/sugarmamaskinsugartan" target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
					<li><a href="http://instagram.com/sugarmamaskinsugartan" target="_blank"><i class="fa fa-instagram fa-lg"></i></a></li>
					<li><a href="http://www.yelp.com/biz/sugar-mama-stanton" target="_blank"><i class="fa fa-yelp fa-lg"></i></a></li>
				</ul>
			</div>
			<div class="row">
				<span ng-show="!vm.isAuthenticated()" style="color: rgb(236, 209, 151)">12362 beach blvd<br />suite 19<br />stanton, ca 90680<br />562.484.8653</span><br>
				<i ng-show="!vm.isAuthenticated()" class="fa fa-star" style="color:rgb(236, 209, 151)"></i><br>
				<span ng-show="!vm.isAuthenticated()" style="color: rgb(236, 209, 151); margin-bottom: 3px; margin-top:3px">451 w. lambert rd.<br>suite 207<br>brea, ca 92821<br>562.484.8653</span>
				<div id="copyright" style="margin-bottom: 25px !important; margin-top:16px;">
					<div class="row mb-small" ng-show="vm.isAuthenticated()">
						<span style="color: rgb(236, 209, 151)">welcome back, {{vm.firstName() | lowercase}}!</span>
					</div>
					<span ng-show="!vm.isAuthenticated()"><a href="/login" class="user-action" id="login"></a></span>
					<span ng-show="vm.isAuthenticated()"><a  href="/" ng-click="vm.logOut()" class="user-action" id="logoff"></a></span>
				</div>

			</div>
		</div>
	</div>
</div>