<style>
    .wrapper {
        padding: 1px 26px;
        background: rgba(214, 195, 152, 0.2);
        margin-bottom: 15px;
    }
    
    .svc {
        padding: 4px;
        margin: 5px 5px 0px 0px;
        background: #DCCCB1;
        border: 1px solid #BDA772;
        border-radius: 9px;
        color: #333;
    }
    
    dd {
        margin-top: 3px;
        margin-bottom: 9px;
    }
    
    blockquote {
        color: #404040;
        padding: 7px 25px;
    }
</style>
<div class="row mb-medium">
    <div ng-show="vm.appointments.length === 0" class="col-md-12">
        <span>No upcoming appointments.</span>
    </div>
    <div ng-show="vm.appointments.length > 0" class="col-md-12">
        <div class="wrapper" ng-repeat="date in vm.appointments">
            <h4 style="font-size: 18px">{{ date.key | fullDate }}</h4>
            <blockquote ng-repeat="appt in date.appts">
                <dl class="dl-horizontal">
                    <dt>name</dt>
                    <dd>{{appt.firstName}}</dd>
                    <dt>phone</dt>
                    <dd>{{appt.phoneNumber | phoneNumber}}</dd>
                    <dt>services</dt>
                    <dd><span class="" ng-repeat="service in appt.services">{{service.name}}{{$last ? '' : ', '}}</span></dd>
                    <dt>time</dt>
                    <dd>{{appt.startTime | amPmTime}} - {{appt.endTime | amPmTime}}
                    <dt>location</dt>
                    <dd>{{appt.location.city}}</dd>
                </dl>
            </blockquote>
        </div>
    </div>
</div>
