<style>
    .double-title {
        font-family: ralewayregular;
    }
    
    li {
        list-style: none;
    }
</style>


<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">home</a></li>
        <li><a ui-sref="estheticians">estheticians</a></li>
        <li class="active">{{vm.esthetician.firstName + ' ' + vm.esthetician.lastName}}</li>
    </ol>
    <div class="row">
        <div class="col-md-12">
            <h2 class="section-title double-title">
        <span>{{vm.esthetician.firstName}}</span>
        {{vm.esthetician.lastName}}
    </h2>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6">
            <div class="ib-boxed">
                <dl class="dl-horizontal">
                    <dt>email</dt>
                    <dd>{{vm.esthetician.email}}</dd>
                    <dt>phone</dt>
                    <dd>714.555.1212</dd>
                </dl>
            </div>
        </div>
    </div>
    <!--
    <div class="row mb-small">
    <div class="col-md-12">
        <a ng-click="vm.openAddModal()" class="btn btn-toranj pull-right">Add New Esthetician...</a>
    </div>
</div>
-->

    <div class="row mb-small">
        <div class="col-md-12">
            <!--
            <ul>
    <li ng-repeat="esthetician in vm.estheticians">
        <a href="#">
            <div class="supervisor">
                <div class="sv-avatar">
                    <i class="fa fa-user" ng-style="{'font-size':'60px', 'color':'#'+esthetician.color}"></i>
                </div>
                <div class="sv-detail">
                    <h3 class="sv-name">{{esthetician.firstName}} {{esthetician.lastName}}</h3>
                    <div>Esthetician</div>
                </div>
            </div>
        </a>
    </li>
</ul>
-->
        </div>
    </div>
</div>