<style>
    .double-title {
        font-family: ralewayregular;
    }
    
    li {
        list-style: none;
    }
    
    .section-title {
        margin-bottom: 55px;
    }
    
    .icon-box .title {
        color: #674015
    }
</style>


<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">home</a></li>
        <li><a ui-sref="estheticians">estheticians</a></li>
        <li class="active">{{vm.esthetician.firstName + ' ' + vm.esthetician.lastName}}</li>
    </ol>

    <h2 class="section-title double-title">
        <div style="display: inline">
            <i class="fa fa-user" ng-style="{'font-size':'60px', 'color':'#'+vm.esthetician.color}"></i>
        </div>
        <div style="display: inline-block">
            <span>{{vm.esthetician.firstName}}</span>{{vm.esthetician.lastName}}
        </div> 
    </h2>

    <div class="row">
        <div class="col-md-6 mb-xlarge">
            <div class="row col-md-12 mb-xlarge">
                <div class="icon-box ib-center ib-boxed">
                    <i class="ib-icon fa fa-user"></i>
                    <h4 class="title">info</h4>
                    <div ng-hide="vm.editMode || vm.passwordMode" class="contents">
                        <dl class="dl-horizontal">
                            <dt>email</dt>
                            <dd>{{vm.esthetician.email}}</dd>
                            <dt>phone</dt>
                            <dd>{{vm.esthetician.phone | phoneNumber}}</dd>
                        </dl>
                        <div class="row">
                            <div class="col-xs-12">
                                <button ng-hide="vm.editMode" ng-click="vm.toggleEditMode()" class="btn btn-toranj" style="margin-right: 10px">update...</button>
                                <button ng-hide="vm.passwordMode" ng-click="vm.togglePasswordMode()" class="btn btn-toranj">change password...</button>
                                <button class="btn btn-danger pull-right" ng-click="vm.destroy()">delete</button>
                            </div>
                        </div>
                    </div>

                    <div ng-show="vm.passwordMode" class="contents">
                        <form class="form-horizontal" ng-submit="vm.changePassword(passwordForm.$valid)" id="passwordForm" name="passwordForm" novalidate>
                            <div class="form-group" ng-class="{ 'has-error': vm.passwordForm.formSubmitted && passwordForm.password.$invalid || passwordForm.password.$touched && passwordForm.password.$invalid }">
                                <label for="password" class="col-sm-3 control-label">current password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" ng-model="vm.passwordForm.password" ng-minlength="6" ng-maxlength="40" required
                                        name="password" title="Please enter your password" placeholder="current password" />
                                    <div class="help-block" ng-messages="passwordForm.password.$error" ng-if="passwordForm.password.$touched || vm.passwordForm.formSubmitted">
                                        <div ng-messages-include="/error-messages.html"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': vm.passwordForm.formSubmitted && passwordForm.newPassword.$invalid || passwordForm.newPassword.$touched && passwordForm.newPassword.$invalid }">
                                <label for="newPassword" class="col-sm-3 control-label">new password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" ng-model="vm.passwordForm.newPassword" ng-minlength="6" ng-maxlength="40" required
                                        name="newPassword" title="Please enter a new password" placeholder="new password" />
                                    <div class="help-block" ng-messages="passwordForm.newPassword.$error" ng-if="passwordForm.newPassword.$touched || vm.passwordForm.formSubmitted">
                                        <div ng-messages-include="/error-messages.html"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error': vm.passwordForm.formSubmitted && passwordForm.confirmPassword.$invalid || passwordForm.confirmPassword.$touched && passwordForm.confirmPassword.$invalid }">
                                <label for="confirmPassword" class="col-sm-3 control-label">confirm password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" ng-model="vm.passwordForm.confirmPassword" ng-minlength="6" ng-maxlength="40"
                                        required validate-equals="vm.passwordForm.newPassword" name="confirmPassword" title="Please confirm your new password"
                                        placeholder="confirm new password" />
                                    <div class="help-block" ng-messages="passwordForm.confirmPassword.$error" ng-if="passwordForm.confirmPassword.$touched || vm.passwordForm.formSubmitted">
                                        <div ng-messages-include="/error-messages.html"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-10">
                                    <button type="submit" class="btn btn-success" ng-disabled="vm.updating">
                                        <span ng-show="!vm.updating">save</span>
                                        <span ng-show="vm.updating">please wait...</span>
                                    </button>
                                    <button ng-click="vm.togglePasswordMode()" class="btn btn-default">cancel</button>
                                </div>
                            </div>

                            <!--<div class="form-group" ng-class="{ 'has-error': vm.signUpForm.formSubmitted && signUpForm.passwordConfirmation.$invalid || signUpForm.passwordConfirmation.$touched && signUpForm.passwordConfirmation.$invalid }">
                                <label for="passwordConfirmation">confirm password</label>
                                <input type="password" class="form-control" ng-model="vm.signUpForm.passwordConfirmation" validate-equals="vm.signUpForm.password"
                                    required name="passwordConfirmation" title="Please confirm your password" />
                                <div class="help-block" ng-messages="signUpForm.passwordConfirmation.$error" ng-if="signUpForm.passwordConfirmation.$touched || vm.signUpForm.formSubmitted">
                                    <div ng-messages-include="/error-messages.html"></div>
                                </div>
                            </div>-->

















                            <!--<div class="form-group">
                                <label for="currentPassword" class="col-sm-3 control-label">current password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="currentPassword" ng-model="vm.newPassword.currentPassword" placeholder="current password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="newPassword" class="col-sm-3 control-label">new password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="newPassword" ng-model="vm.newPassword.password" placeholder="new password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="confirmPassword" class="col-sm-3 control-label">confirm password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="confirmPassword" ng-model="vm.newPassword.confirmPassword" placeholder="confirm password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-10">
                                    <button type="submit" ng-click="vm.changePassword()" class="btn btn-success" ng-disabled="vm.updating">
                                        <span ng-show="!vm.updating">save</span>
                                        <span ng-show="vm.updating">please wait...</span>
                                    </button>
                                    <button ng-click="vm.togglePasswordMode()" class="btn btn-default">cancel</button>
                                </div>
                            </div>-->
                        </form>
                    </div>


                    <div ng-show="vm.editMode" class="contents">
                        <form class="form-horizontal" name="update-esthetician-form">
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email" ng-model="vm.editableEsth.email" placeholder="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-sm-2 control-label">phone</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="phone" ng-model="vm.editableEsth.phone" ui-mask="999.999.9999" ui-mask-placeholder
                                        ui-mask-placeholder-char="_" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" ng-click="vm.save()" class="btn btn-success" ng-disabled="vm.updating">
                                        <span ng-show="!vm.updating">save</span>
                                        <span ng-show="vm.updating">please wait...</span>
                                    </button>
                                    <button ng-click="vm.toggleEditMode()" class="btn btn-default">cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="icon-box ib-center ib-boxed">
                    <i class="ib-icon fa fa-briefcase"></i>
                    <h4 class="title">work schedule</h4>
                    <div class="contents">
                        <div ui-view="shifts"></div>
                        <!--<div class="row">
                        <div class="col-md-12">
                            <a ng-click="vm.openAddModal()" class="btn btn-toranj pull-right">add shift...</a>
                        </div>
                    </div>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="icon-box ib-center ib-boxed">
                <i class="ib-icon fa fa-calendar"></i>
                <h4 class="title">upcoming appointments</h4>
                <div class="contents">
                    <div ui-view="appointments"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="row mb-small">
        <div class="col-md-12">
            <!--
            <ul>
    <li ng-repeat="esthetician in vm.estheticians">
        <a href="#">
            <div class="supervisor">
                <div class="sv-avatar">
                    <i class="fa fa-user" ng-style="{'font-size':'60px', 'color':'#'+esthetician.color}"></i>
                </div>
                <div class="sv-detail">
                    <h3 class="sv-name">{{esthetician.firstName}} {{esthetician.lastName}}</h3>
                    <div>Esthetician</div>
                </div>
            </div>
        </a>
    </li>
</ul>
-->
        </div>
    </div>
</div>