<style>
    .shortDate {
        display: block;
    }
    
    .nav-pills > li > a {
        border-radius: 8px;
        color: white;
        max-width: 57px;
        min-width: 57px;
    }
    
    .nav > li > a {
        padding: 2px 13px;
        /*margin: 0 3px;*/
    }
    
    .nav > li > a:hover,
    .nav > li > a:focus {
        text-decoration: none;
        background-color: #B16911;
    }
    
    .no-openings {
        background: gray;
    }
    
    .has-openings {
        background: #67320B;
    }
    
    .selected-date {
        background: #B16911;
    }
    
    /*.col-md-1 {
        padding-right: 10px;
        min-width: 9%;
        padding-left: 12px;
    }*/
    
    .col-md-1 {
        padding-right: 12px;
        min-width: 14%;
        padding-left: 12px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <ul class="nav nav-pills">
                <li role="presentation" class="col-md-1" ng-repeat="date in vm.openings">
                    <a href="#" ng-click="vm.changeDate(date, $index)" ng-class="{'no-openings': date.openings.length == 0, 'has-openings': date.openings.length > 0, 'selected-date': date.selected }">
                {{ date.day }}<span class="shortDate">{{ date.shortDate }}</span>
            </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div ng-repeat="tableControl in vm.bsTableControls" ng-show="$index == vm.selectedIndex" class="workspaceContainer">
            <table bs-table-control="vm.bsTableControls[$index]"></table>
        </div>
    </div>
</div>


<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="appointment.chooseTimeSlot" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="appointment.chooseServices" class="btn btn-block btn-info">
    Go Back <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
    </div>
</div>