<style>
    .shortDate {
        display: block;
    }
    
    .date-pill > a {
        color: white;
    }
    
    .date-pill:hover,
    .date-pill:focus {
        text-decoration: none;
        background-color: #B16911;
    }
    
    .no-openings {
        background: gray;
    }
    
    .has-openings {
        background: #67320B;
    }
    
    .selected-date {
        background: #B16911;
    }
    /*.col-md-1 {
        padding-right: 10px;
        min-width: 9%;
        padding-left: 12px;
    }*/
    
    .col-md-1 {
        padding-right: 12px;
        width: 14%;
        padding-left: 12px;
    }
    
    .date-pill {
        min-width: 36px;
        padding: 5px 0px;
        border-radius: 8px;
        cursor: pointer;
    }
</style>
<div class="row mb-small">
    <div class="col-md-12">
        <div class="text-center">
            <div role="presentation" class="col-md-1 col-sm-1 col-xs-1" ng-repeat="date in vm.openings">
                <div class="date-pill" ng-click="vm.changeDate(date, $index)" ng-class="{'no-openings': date.openings.length == 0, 'has-openings': date.openings.length > 0, 'selected-date': date.selected }">
                    <a href="#">{{ date.day }}<span class="shortDate">{{ date.shortDate }}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div ng-repeat="tableControl in vm.bsTableControls" ng-show="$index == vm.selectedIndex" class="workspaceContainer">
            <table bs-table-control="vm.bsTableControls[$index]"></table>
        </div>
    </div>
</div>


<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="appointment.chooseTimeSlot" class="btn btn-block btn-info">
    Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
    </div>
</div>
<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="appointment.chooseServices" class="btn btn-block btn-info">
    Go Back <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
    </div>
</div>