<style>
    .panel-default > .panel-heading {
        color: #CCB37A;
        background: none;
    }
    
    .panel {
        background: rgba(111, 77, 49, 0.7);
    }
    
    .panel-body {
        padding: 0
    }
    
    .heading {
        background: none;
        color: #E6C97C;
        position: relative;
    }
    
    .heading:focus,
    .heading:hover,
    .panel-heading:focus,
    .panel-heading:hover {
        background: rgb(111, 77, 49);
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
    }
    
    hr {
        border-top: 1px solid black;
    }
    
    .form-group {
        margin-bottom: 30px;
    }
    
    label {
        text-transform: lowercase !important;
    }
    
    .accordion .item .body {
        background: #6F4D31;
    }
    
    .accordion .item .body .contents {
        padding: 0;
    }
    
    .accordion .head {
        background: rgb(111, 77, 49);
    }
    
    .accordion .item.active .head a {
        color: #D3A42A;
        color: #CCB37A;
    }
    
    .accordion .item .head a {
        color: #D3A42A;
        padding: 10px 20px 10px 40px;
        font-size: 16px;
        font-weight: bold;
    }
    
    .accordion .item .head:after,
    .accordion .item.active .head:after {
        color: #CCB37A;
    }
    
    .accordion .item:focus .item:hover .head:after,
    .accordion .item.active .head:after {
        color: #CCB37A;
    }
    
    .datepicker {
        background-color: white;
    }
    
    input[type="checkbox"] {
        outline: 0;
        height: 13px;
    }
    
    label {
        font-size: 15px;
    }
    
    .footnote {
        font-size: 14px;
        font-style: italic;
        font-weight: bold;
        color: #742020;
        margin-bottom: 40px;
    }
    
    tr {
        background-color: rgba(255, 255, 255, 0.32);
    }
</style>
<link href="~/Content/datepicker3.css" rel="stylesheet" />

<div class="container">
    <!-- breadcrumbs -->
    <ol class="breadcrumb">
        <li><a href="/">home</a></li>
        <li><a href="/appointments">appointments</a></li>
        <li class="active">select an opening</li>
    </ol>
    <!--/ breadcrumbs -->
    <div style="padding: 5px 30px; background: rgba(0,0,0,.05)">
        <!-- page title -->
        <h2 class="section-title" style="margin-top: 20px">
            <span ng-if="vm.appointmentRequest.openings.length == 0">
               we're all booked!
            </span>
            <span ng-if="vm.appointmentRequest.openings.length > 0">
                 available openings for<br>{{ vm.appointmentRequest.selectedDateString }}
            </span>
        </h2>
        <div class="row mb-medium" ng-if="vm.appointmentRequest">
            <div ng-if="vm.appointmentRequest.openings.length > 0">
                <div class="col-md-6">
                    <div class="row mb-small">
                        <div class="icon-box ib-center ib-boxed">
                            <i class="ib-icon fa fa-calendar"></i>
                            <h4 class="title">come on in!</h4>
                            <div class="contents">
                                <p>The time slots shown are based on your selections on the previous page. Select whichever
                                    one is most convenient for you to continue on!</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <img src="/images/towels-and-candles-green.png" class="img-rounded img-thumbnail img-fit" style="opacity: .75">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="workspaceContainer">
                        <table bs-table-control="vm.bsTableControl"></table>
                    </div>
                </div>
            </div>
            <div ng-if="vm.appointmentRequest.openings == 0">
                 <div class="col-md-12">
                    <div class="row mb-small">
                        <div class="icon-box ib-center ib-boxed">
                            <i class="ib-icon fa fa-calendar"></i>
                            <h2 class="title">no openings</h2>
                            <div class="contents">
                                <p style="font-size:16px" class="text-center">It looks like we're unable to fit you in on the services and day that you selected. Feel free to click below to go back and choose a different day or fewer services.</p>
                                <p class="text-center"><a onclick="window.history.back();"  class="btn btn-toranj btn-icon"><i class="fa fa-mail-reply"></i>Go Back</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>