<div class="row mb-medium">
    <div ng-show="vm.shifts.length === 0" class="col-md-12">
        <span>No shifts yet.</span>
    </div>
    <div ng-show="vm.shifts.length > 0" class="col-md-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>day</th>
                    <th>start</th>
                    <th>end</th>
                    <th>location</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="shift in vm.shifts | orderBy: 'businessDay.dayIdx'" ng-click="vm.selectShift(shift, $index)" style="cursor: pointer;">
                    <td>{{ shift.businessDay.dayOfWeek }}</td>
                    <td>{{ shift.startTime | amPmTime }}</td>
                    <td>{{ shift.endTime | amPmTime }}</td>
                    <td>{{ shift.businessDay.location.city }}</td>                    
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" ng-if="vm.isAdmin">
    <div class="col-md-12">
        <a ng-click="vm.addNewShift()" class="btn btn-toranj pull-right">add new shift...</a>
    </div>
</div>
