<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">home</a></li>
        <li><a href="/services">services</a></li>
        <li class="active">facials &amp; microderms</li>
    </ol>
    <div style="padding: 0px 15px;">
        <div class="row">
            <div class="col-md-6" style="background: rgba(0,0,0,.05)">
                <div>
                    <h2>our take on facials...</h2>
                    <p>
                        Everyone's skin is different, therefore every treatment that is performed is customized. We focus on skin health. Our products
                        are simple, yet scientific.
                    </p>
                    <div class="row mb-small">
                        <div class="col-md-12">
                            <img src="images/facial-towels.jpg" class="img-rounded img-thumbnail img-fit">
                        </div>
                    </div>
                    <div class="row mb-small">
                        <div class="col-md-12">
                            <p>
                                Skin stimulation + topical nourishment = healthy skin.
                            </p>
                            <p>
                                We feature active, biogenic, paraben-free, kosher and preservative-free ingredients that improve the health of your skin
                                in one treatment.
                            </p>
                        </div>
                    </div>
                    <div class="row mb-small">
                        <div class="col-md-12">
                            <img src="images/facial-brunette.jpg" class="img-rounded img-thumbnail img-fit">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" id="right-side">
                <div class="row col-md-12 mb-medium">
                    <h2 class="text-center">services</h2>
                    <img src="images/fancy-lines-sm.png" style="display:block; margin:auto;">
                </div>
                <div ng-repeat="service in vm.services.facial">
                    <div class="row col-md-12 mb-small">
                        <h6 class="text-center" style="color: rgb(146, 58, 7)">{{service.name | lowercase}} - {{service.cost}}</h6>
                        <p class="text-center">{{service.description | lowercase}}</p>
                    </div>
                </div>
                <div class="row col-md-12 mb-large">
                    <blockquote>high-frequency included in <em>the grand</em> and <em>the luxe</em> treatments.</blockquote>
                </div>


                <div class="row col-md-12 mb-medium">
                    <h2 class="text-center">microderm</h2>
                    <img src="images/fancy-lines-sm.png" style="display:block; margin:auto;">
                </div>
                <div class="row col-md-12 mb-small" ng-repeat="service in vm.services.microderm">
                    <h6 class="text-center" style="color: rgb(146, 58, 7)">{{service.name | lowercase}} - {{service.cost}}</h6>
                        <p class="text-center">{{service.description | lowercase}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

</div>