<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">home</a></li>
        <li><a href="/services">services</a></li>
        <li class="active">hair removal</li>
    </ol>
    <div style="padding: 0px 15px;">
        <div class="row">
            <div class="col-md-6" style="background: rgba(0,0,0,.05)">
                <div>
                    <h2>sugaring</h2>
                    <p>
                        Sugaring is an ancient art of hair removal that dates back to 1900 BC. We are excited to offer this service and product,
                        here, in a modern setting.
                    </p>
                    <div class="row mb-small">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <img src="images/sugar-spoon-long.jpeg" class="img-rounded img-thumbnail img-fit">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <img src="images/sugar-pile.jpg" class="img-rounded img-thumbnail img-fit">
                        </div>
                    </div>
                    <div class="row mb-small">
                        <div class="col-md-12">
                            <p>
                                Sugar is 100% natural. No chemicals. No preservatives. No irritants. Sugar is cooked into a paste-like consistency and applied
                                to the skin by your certified esthetician. Sugar paste is a natural exfoliant that only adheres
                                to dead skin cells and hair, so you can expect your skin to feel extremely smooth "like a
                                baby's bottom".
                            </p>
                        </div>
                    </div>
                    <div class="row mb-small">
                        <div class="col-md-12">
                            <img src="images/sugar-leg.png" class="img-rounded img-thumbnail img-fit">

                        </div>
                    </div>
                    <div class="row mb-small">
                        <div class="col-md-12">
                            <p>
                                You will never feel discomfort due to the temperature of the sugar paste as it is kept slightly warmed and is heated to body
                                temperature during the service. The skin looks beautiful right after a sugaring session.
                                Additionally, sugaring leads to less ingrown hairs. Many clients have switched to sugar simply
                                for the benefit alone. Sugaring leads to noticeable "hair loss".
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6" id="right-side">
                <div class="row col-md-12">
                    <h2 class="text-center">services</h2>
                    <img src="images/fancy-lines-sm.png" style="display:block; margin:auto;">
                </div>
                <div ng-repeat="service in vm.services.hairRemoval">
                    <div ng-if="!service.isPremium" class="row col-md-12 mb-small">
                        <span class="pull-left">{{service.name | lowercase}}<span ng-if="service.description"> - <em>{{service.description | lowercase}}</em></span></span>
                        <span class="pull-right">{{service.cost}}</span>
                    </div>
                </div>
                <div ng-repeat="service in vm.services.hairRemoval.premium">
                     <div class="row col-md-12 mb-small" style="margin-top: 15px;">
                        <h6 class="text-center" style="color: rgb(146, 58, 7)">{{service.name | lowercase}}* - {{service.cost}}</h6>
                    </div>
                    <div class="row col-md-12">
                        <p>{{service.description | lowercase}}</p>
                    </div>
                </div>
                
                
                <div class="row col-md-12" style="margin-top: 25px;">
                    <p class="text-center"><em>* not eligible for the Yelp deal</em></p>
                </div>
            </div>