<section ui-view="content">
    <style>
    .tj-hover-3 .tj-overlay .title {
        font-size: 28px;
        text-transform: lowercase;
        font-family: ralewayregular;
    }
    .regular-page {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .page-main {
        padding: 0;
        margin-left: 0;
    }
</style>
<div class="page-main">
    <!-- services wrapper -->
    <div class="vertical-folio">
            <!-- services Item -->
            <div set-bg class="vf-item tj-hover-3 inview-animate inview-fadeleft visible-view">
                <img src="images/services/sugar.jpg" alt="alt" class="img-responsive">
                <!-- Item Overlay -->
                <div class="tj-overlay vcenter-wrapper">
                    <div class="overlay-texts vcenter">
                        <h3 class="title">hair removal</h3>
                        <h4 class="subtitle">warm, lucious, organic sugar.</h4>
                        <br>
                        <a ng-click="vm.gotoService('hairremoval')" class="btn btn-transparent">learn more</a>
                    </div>
                </div>
                <!-- /Item Overlay -->
            </div>
        <!-- /services Item -->
        <!-- services Item -->
        <div set-bg class="vf-item tj-hover-3 inview-animate inview-fadeleft visible-view">
            <img src="images/services/home-page-3.jpg" alt="alt" class="img-responsive">

            <!-- Item Overlay -->
            <div class="tj-overlay vcenter-wrapper">
                <div class="overlay-texts vcenter">
                    <h3 class="title">facials</h3>
                    <h4 class="subtitle">skin stimulation + topical nourishment = healthy skin.</h4>
                    <br>
                    <a ng-click="vm.gotoService('facials')" class="btn btn-transparent">learn more</a>
                </div>
            </div>
            <!-- /Item Overlay -->

        </div>
        <!-- /services Item -->
        <!-- services Item -->
        <div set-bg class="vf-item tj-hover-3 inview-animate inview-fadeleft visible-view">
            <img src="images/services/chem1.jpg" alt="alt" class="img-responsive">

            <!-- Item Overlay -->
            <div class="tj-overlay vcenter-wrapper">
                <div class="overlay-texts vcenter">
                    <h3 class="title">chemical peels</h3>
                    <h4 class="subtitle">renew the elegance of your skin.</h4>
                    <br>
                    <a href="/services/peels" class="btn btn-transparent">learn more</a>
                </div>
            </div>
            <!-- /Item Overlay -->

        </div>
        <!-- /services Item -->
        <!-- services Item -->
        <div set-bg class="vf-item tj-hover-3 inview-animate inview-fadeleft visible-view">
            <img src="images/services/tan-legs.jpg" alt="alt" class="img-responsive">
            <!-- Item Overlay -->
            <div class="tj-overlay vcenter-wrapper">
                <div class="overlay-texts vcenter">
                    <h3 class="title">spray tans</h3>
                    <h4 class="subtitle">hand-sprayed with unmatched experience and care.</h4>
                    <br>
                    <a href="/services/tanning" class="btn btn-transparent">learn more</a>
                </div>
            </div>
            <!-- /Item Overlay -->
        </div>
        <!-- services Item -->
        <div set-bg class="vf-item tj-hover-3 inview-animate inview-fadeleft visible-view">
            <img src="images/services/eyebrow-tint.jpg" alt="alt" class="img-responsive">
            <!-- Item Overlay -->
            <div class="tj-overlay vcenter-wrapper">
                <div class="overlay-texts vcenter">
                    <h3 class="title">tinting</h3>
                    <h4 class="subtitle">deepen the shade of your lashes and brows</h4>
                    <br>
                    <a href="/services/tanning" class="btn btn-transparent">learn more</a>
                </div>
            </div>
            <!-- /Item Overlay -->
        </div>
    </div>
    <!-- /services wrapper -->
</div>
</section>