<div class="container">
    <div class="row">
        <div class="col-md-4 center-block" style="float: none; padding: 25px; background: rgba(0,0,0,.05)">
            <div class="row mb-medium">
                <div class="col-md-12">
                    <form ng-submit="vm.submitSignUpForm()" id="signUpForm" name="signUpForm" novalidate>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{ 'has-error': vm.signUpForm.formSubmitted && signUpForm.firstName.$invalid || signUpForm.firstName.$touched && signUpForm.firstName.$invalid }">
                                    <label for="firstName">first name</label>
                                    <input type="text" class="form-control" ng-model="vm.signUpForm.firstName" ng-minlength="2" ng-maxlength="25" required name="firstName" title="Please enter your first name" />
                                    <div class="help-block" ng-messages="signUpForm.firstName.$error" ng-if="signUpForm.firstName.$touched || vm.signUpForm.formSubmitted">
                                        <div ng-messages-include="/error-messages.html"></div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.signUpForm.formSubmitted && signUpForm.lastName.$invalid || signUpForm.lastName.$touched && signUpForm.lastName.$invalid }">
                                    <label for="lastName">first name</label>
                                    <input type="text" class="form-control" ng-model="vm.signUpForm.lastName" ng-minlength="2" ng-maxlength="25" required name="lastName" title="Please enter your last name" />
                                    <div class="help-block" ng-messages="signUpForm.lastName.$error" ng-if="signUpForm.lastName.$touched || vm.signUpForm.formSubmitted">
                                        <div ng-messages-include="/error-messages.html"></div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.signUpForm.formSubmitted && signUpForm.emailAddress.$invalid || signUpForm.emailAddress.$touched && signUpForm.emailAddress.$invalid }">
                                    <label for="emailAddress">email</label>
                                    <input type="email" class="form-control" ng-model="vm.signUpForm.emailAddress" ng-minlength="6" ng-maxlength="40" required name="emailAddress" title="Please enter a valid email address" />
                                    <div class="help-block" ng-messages="signUpForm.email.$error" ng-if="signUpForm.emailAddress.$touched || vm.signUpForm.formSubmitted">
                                        <div ng-messages-include="/error-messages.html"></div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.signUpForm.formSubmitted && signUpForm.password.$invalid || signUpForm.password.$touched && signUpForm.password.$invalid }">
                                    <label for="password">password</label>
                                    <input type="password" class="form-control" ng-model="vm.signUpForm.password" ng-minlength="6" ng-maxlength="40" required name="password" title="Please enter a password" />
                                    <div class="help-block" ng-messages="signUpForm.password.$error" ng-if="signUpForm.password.$touched || vm.signUpForm.formSubmitted">
                                        <div ng-messages-include="/error-messages.html"></div>
                                    </div>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error': vm.signUpForm.formSubmitted && signUpForm.passwordConfirmation.$invalid || signUpForm.passwordConfirmation.$touched && signUpForm.passwordConfirmation.$invalid }">
                                    <label for="passwordConfirmation">confirm password</label>
                                    <input type="password" class="form-control" ng-model="vm.signUpForm.passwordConfirmation" validate-equals="vm.signUpForm.password" required name="passwordConfirmation" title="Please confirm your password" />
                                    <div class="help-block" ng-messages="signUpForm.passwordConfirmation.$error" ng-if="signUpForm.passwordConfirmation.$touched || vm.signUpForm.formSubmitted">
                                        <div ng-messages-include="/error-messages.html"></div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary" ng-disabled="vm.signUpForm.loading">
                                    <span ng-show="!vm.signUpForm.loading">Submit</span>
                                    <span ng-show="vm.signUpForm.loading">Please wait...</span>
                                </button>
                            </div>
                        </div>
                </div>
                </form>
            </div>
        </div>


    </div>
</div>

</div>
