<style>
    html,
    body {
        height: 100%;
    }
    
    .wrapper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    
    .h_iframe {
        position: relative;
    }
    
    .h_iframe .ratio {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .h_iframe iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 102%;
    }
    
    .stanton {
        color: #0041B9;
    }
    
    .brea {
        color: #7D0202;
    }
    
     .datepicker {
        background-color: white;
    }
</style>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">home</a></li>
        <li class="active">appointments</li>
    </ol>
    <h2 class="section-title double-title">
        <span>manage</span>
        appointments
    </h2>
    <p>
        <i class="fa fa-question-circle"></i> To add an appointment, tap or click inside the window of the desired day and
        time. To get the details of an appointment, tap or double-click it. To cancel an appointment, tap or double-click
        it, then click the delete button in the pop-up window.
    </p>
    <p style="padding-bottom:22px; margin-bottom:15px;">
        <button ng-click="vm.openBlockoutModal()" class="btn btn-toranj pull-right">Add Blockout Time...</button>
    </p>
    <div class="wrapper">
        <div class="h_iframe">
            <img class="ratio" src="/images/4x3.png" />
            <iframe ng-if="vm.env == 'development'" src="/scheduler.html" frameborder="0" allowfullscreen></iframe>
            <iframe ng-if="vm.env == 'production'" src="/scheduler.prod.html" frameborder="0" allowfullscreen></iframe>
            <iframe ng-if="vm.env == 'staging'" src="/scheduler.staging.html" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>