<style>
    .double-title {
        font-family: ralewayregular;
    }
    html,body        {height:100%;}
.wrapper         {width:100%;height:100%;margin:0 auto;}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:102%;}
</style>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">home</a></li>
        <li class="active">appointments</li>
    </ol>
    <h2 class="section-title double-title">
        <span>manage</span>
        appointments
    </h2>

<div class="wrapper">
    <div class="h_iframe">
         <img class="ratio" src="/images/4x3.png"/>
         <iframe ng-if="vm.env == 'development'" src="/scheduler.html" frameborder="0" allowfullscreen></iframe>
         <iframe ng-if="vm.env == 'production'" src="/scheduler.prod.html" frameborder="0" allowfullscreen></iframe>
    </div>
</div>

    <div class="row col-md-12">
    </div>
</div>